<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">pritschet.me</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        {% for item in navigation %}
            {% if item.children %}
                <li class="nav-item nav-fill dropdown">
                    <a class="nav-link dropdown-toggle" href="{% url 'anw-page' item.slug%}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="navbarDropdown_{{ item.slug }}">
                      {{ item.title }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown_{{ item.slug }}">
                        {% for child in item.children %}
                            <a class="dropdown-item" href="{% url 'anw-page' child.slug %}">{{ child.title }}</a>
                        {% endfor %}
                    </div>
                </li>
            {% else %}
                <li class="nav-item nav-fill"><a href="{% url 'anw-page' item.slug %}" class="nav-link">{{ item.title }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
  </div>
</nav>