{% extends 'base.html' %}
{% load tagging_tags %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-9">
                {{ object.body|safe }}
            </div>
            <div class="col-3 p-3">
                {% tag_cloud_for_model anw.Page as tagcloud with steps=6 %}
                {% for tag in tagcloud %}
                    <a href="{% url 'tags' tag %}" class="btn btn-primary m-2 cloud-{{ tag.font_size }}">{{ tag }}</a>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="container">
        {% tags_for_object object as object_tags %}
        {% for tag in object_tags %}
            <a href="{% url 'tags' tag %}" class="btn btn-secondary m-2 shadow">{{ tag }}</a>
        {% endfor %}
    </div>

    <div class="container">
        {% if carousel %}
            <div class="container mt-3 mb-3">
                <div class="card-deck">
                    {% for p in carousel %}
                        {% include 'page/page_card.html' %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
