{% extends 'base.html' %}
{% load tagging_tags %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            {% for crumb in object.get_breadcrumbs %}
                <li class="breadcrumb-item" aria-current="page">
                    <a href="{% url 'anw-page' crumb.slug %}">{{ crumb }}</a>
                </li>
            {% endfor %}
        </ol>
    </nav>
    <div class="container">

        {{ object.body|safe }}

    </div>

    <div class="container">
        {% tags_for_object object as object_tags %}
        {% for tag in object_tags %}
            <a href="{% url 'tags' tag %}" class="btn btn-secondary m-2">{{ tag }}</a>
        {% endfor %}
    </div>
{% endblock %}
