{% extends 'base.html' %}
{% load tagging_tags %}
{% load render_carousel %}

{% block sidebar %}
    <div id="scrollspy" class="list-group pt-5 mt-5">
    </div>

    <script>
        $(function() {
            function Generator() {};

            Generator.prototype.val =  0;
            Generator.prototype.getId = function() {
                return this.val++;
            };
            var idGen =new Generator();

            $(":header").each(function(idx, elem){
                $("<a name='heading-"+idx+"'></a>").insertBefore(elem);
                $("#scrollspy").append("<a href='#heading-"+idx+"' class='list-group-item list-group-item-action'>"+$(this).text()+"</a>");
            });
        });
    </script>
{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            {% for crumb in object.get_breadcrumbs %}
                <li class="breadcrumb-item" aria-current="page">
                    <a href="{% url 'anw-page' crumb.slug %}">{{ crumb }}</a>
                </li>
            {% endfor %}
        </ol>
    </nav>
    <div class="container p-3 bg-white rounded shadow">

        {{ object.body|safe }}

    </div>

    <div class="container">
        {% tags_for_object object as object_tags %}
        {% for tag in object_tags %}
            <a href="{% url 'tags' tag %}" class="btn btn-secondary m-2">{{ tag }}</a>
        {% endfor %}
    </div>

    {% if carousel %}
        {% render_carousel "Related pages" carousel %}
    {% endif %}
{% endblock %}
