{% extends 'base.html' %}

{% block content %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.5/themes/default/style.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.5/jstree.min.js"></script>

    <script>
        $(function () {
            $('#sitemap_tree').jstree({
                "core" : {
                    "multiple": false,
                    "animation" : 0,
                    "check_callback" : true,
                    "error": function(e){console.log("ERROR!"); console.log(e);},
                    "themes" : {
                        "stripes" : false,
                        "responsive": true,
                        "icons": false,
                        "variant": "large"
                    },
                    'data' : {
                        'url' : function (node) {
                            return '{% url "anw-sitemap-elements" %}'
                        },
                        'data' : function (node) {
                            if ( node.id === '#' ) {
                                return {'slug': '' };
                            } else {
                                return { 'slug' : node.id };
                            }
                        }
                    },
                },
                "plugins" : [],
            }).bind(
                "select_node.jstree",
                function(e, data) {
                    window.open(data.node.a_attr.href, data.node.a_attr.target);
                }
            );
        });
    </script>

    <h1>Sitemap</h1>
    <div class="container" id="sitemap_tree">

    </div>
{% endblock %}
