{% load tagging_tags %}
{% load thumbnail %}

<div class="card shadow">
    <div class="card-header">
        {% if use_fancybox %}
            <strong>{{ p }}</strong>
        {% else %}
            <a href="{{ p.get_url }}">{{ p }}</a>
        {% endif %}
    </div>
    {% if p.body.url %}
        {% thumbnail p.body "288x288" crop="center" format="PNG" as im %}
            <a href="{{ p.body.url }}" data-fancybox="gallery" data-caption="{{ p }}">
                <img class="card-img-top" src="{{ im.url }}" alt="{{ p }}">
            </a>
        {% endthumbnail %}
    {% endif %}
    <div class="card-body">
        <p class="card-text">{{ p.meta_description }}</p>
    </div>
    <div class="card-footer">
        {% tags_for_object p as object_tags %}
        {% for tag in object_tags %}
            <a href="{% url 'tags' tag %}" class="btn btn-secondary m-2 shadow">{{ tag }}</a>
        {% empty %}
             <span class="btn m-2 hidden">&nbsp</span>
        {% endfor %}
    </div>
</div>